<!--<div id="ACS-COMMONS">-->
    <link rel="stylesheet" href="/apps/acs-commons/components/utilities/quickly/clientlibs.css"/>

    <div id="acs-commons-quickly-app"><!--ng-app="quickly"-->
        <div id="acs-commons-quickly-ctrl" ng-controller="QuicklyCtrl">
            <div id="acs-commons-quickly"
                 ng-show="app.visible"
                 ng-enter="app.processSelected()"
                 ng-up="app.selectUp()"
                 ng-down="app.selectDown()"
                 ng-right="app.selectRight()">

                <div class="quickly-cmd-wrapper">
                    <input id="acs-commons-quickly-cmd" ng-model="data.cmd" class="quickly-cmd" type="text"/>
                </div>

                <ul class="quickly-results"
                        ng-show="data.results">
                    <li ng-repeat="result in data.results"
                         ng-click="app.selectResult(result)"
                         ng-class="{selected: result.selected, noop: result.action.method === 'noop' || !result.action.method, action: result.action.method !== 'noop', autocomplete: result.path}"
                         class="quickly-result">
                        <h1 class="quickly-result-title">{{result.title}}</h1>
                        <p class="quickly-result-description">{{result.description}}</p>
                    </li>
                </ul>

                <div id="quickly-result-form"></div>
            </div>
        </div>
    </div>

    <!--<script>window.jQuery || document.write('<script src="/etc/clientlibs/granite/jquery.js"><\/script>')</script>-->
    <!--<script type="text/javascript" src="/apps/acs-commons/components/utilities/quickly/clientlibs/app.js"></script>-->
    <script type="text/javascript">
        angular.bootstrap(document.getElementById('acs-commons-quickly-app'), ['quickly']);
    </script>
<!--</div>-->